<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments :: TinyMCE-head">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <section class="content" sec:authorize="!hasRole('ROLE_BLOCKED_USER')">
        <form method="post" th:action="@{/post/save}" th:object="${post}" class="add-post-form">
            <textarea th:field="*{title}" class="form-control" id="title-input" rows="3"
                      placeholder="title" maxlength="100"></textarea>
            <textarea th:field="*{content}" class="form-control" id="mytextarea" rows="3"
                      placeholder="write..." maxlength="1000"></textarea>
            <p th:errors="*{content}"></p>
            <button class="btn btn-primary" type="submit">Add post</button>
        </form>
    </section>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>