<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Post Page</title>
</head>
<body>
    <navbar th:replace="fragments :: header"></navbar>
        <section class="content">
            <div class="post">
                <div class="post-info">
                    <a th:href="@{/profile(username=${post.author})}">
                        <p th:text="${post.author}">John</p>
                    </a>
                    <p th:text="${#dates.format(post.timeAdded, 'dd-MM-yyyy HH:mm')}">08-01-2024 00:06</p>
                </div>
                <a th:text="${post.title}">test</a>
                <p th:utext="${post.content}">lorem ipsum</p>
                <a sec:authorize="isAuthenticated() and !hasRole('ROLE_BLOCKED_USER')" th:href="@{{postId}/report(postId = ${post.id})}">Report</a>
                <hr>
            </div>
            <div sec:authorize="isAuthenticated() and !hasRole('ROLE_BLOCKED_USER')">
                <form method="post" th:action="@{/post/{postId}/saveComment(postId = ${post.id})}" th:object="${commentForm}">
                    <div class="mb-3">
                        <textarea th:field="*{content}" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="type something..."></textarea>
                    </div>
                    <p th:errors="*{content}">Content errors</p>
                    <button type="submit" class="btn btn-primary">Add comment</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <h3>Log in to add comment!</h3>
            </div>
            <h3>Comments</h3>
            <div class="comments" th:each="comment : ${comments}">
                <div class="comment" >
                    <p th:text="${comment.authorUsername}"></p>
                    <p th:text="${#dates.format(comment.timeAdded, 'dd-MM-yyyy HH:mm')}"></p>
                    <p th:text="${comment.content}"></p>
                </div>
                <hr>
            </div>
        </section>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>