<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <section class="content">
        <form method="post" action="/post/save" th:object="${post}" class="add-post-form">
            <textarea th:field="*{title}" placeholder="title" id="title-input" maxlength="100"></textarea>
            <textarea th:field="*{content}" placeholder="write..." id="content-input"></textarea>
            <p th:errors="*{content}"></p>
            <button type="submit">Add post</button>
        </form>
    </section>
</body>
</html>