<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <h1>Admin page</h1>
        <div class="message-box">
            <p class="message" th:text="${message}"></p>
        </div>
        <div class="admin-content">
            <div class="table-container">
                <h3>Posts to verify</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>index</th>
                        <th>title</th>
                        <th>time added</th>
                        <th>author</th>
                        <th>link</th>
                    </tr>
                    <tr th:each="post, i : ${postsToVerification}" th:object="${post}">
                        <td th:text="${i.count}">1</td>
                        <td th:text="*{title}">1</td>
                        <td th:text="*{timeAdded}">03-02-2024 14:05</td>
                        <td th:text="*{author}">Author</td>
                        <td><a th:href="@{/admin/toVerify(id=*{id})}">View Details</a></td>
                    </tr>
                </table>
            </div>

            <div class="table-container">
                <h3>Blocked Users</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>index</th>
                        <th>username</th>
                        <th>email</th>
                        <th>action</th>
                    </tr>
                    <tr th:each="blockedUser, i : ${blockedUsers}" th:object="${blockedUser}">
                        <td th:text="${i.index}"></td>
                        <td th:text="*{username}"></td>
                        <td th:text="*{email}"></td>
                        <td><a th:href="@{/admin/unblock-user(username=*{username})}">Unblock</a></td>
                    </tr>
                </table>
            </div>
            <div class="table-container">
                <h3>Reports</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>index</th>
                        <th>cause</th>
                        <th>post</th>
                        <th>author of post</th>
                        <th></th>
                    </tr>
                    <tr th:each="report, i : ${reports}" th:object="${report}">
                        <td th:text="${i.index}"></td>
                        <td th:text="*{cause}"></td>
                        <td th:text="*{postTitle}"></td>
                        <td th:text="*{authorUsername}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{admin/delete-post(postId = *{postId})}">Delete post</a></li>
                                    <li><a class="dropdown-item" th:href="@{admin/block-user(userId = *{postAuthorId})}">Block user</a></li>
                                    <li><a class="dropdown-item" th:href="@{admin/delete-report(reportId = *{id})}">Delete report</a></li>
                                    <li><a class="dropdown-item" th:href="@{admin/enable-post-verification(username = *{authorUsername})}">Enable post verification</a></li>
                                </ul>
                            </div>
                        </td>


                    </tr>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>