<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Stachoz Blog</title>
    <link rel="stylesheet" href="static/styles/main.css" th:href="@{/styles/main.css}">
</head>
<body>
    <header th:fragment="header" class="navbar">
        <a th:href="@{/}">Home</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{/register}">Register</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/profile(username=${#authentication.getName()})}">Profile</a>
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Admin Page</a>
    </header>

</body>
</html>