<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>
        <div class="grid-con">
            <div class="side-panel">
                <div sec:authorize="hasAnyRole('USER_ROLE')">
                    <div class="add-coin-con">
                        <form method="post" th:action="@{/add-coin}" th:object="${coin}">
                            <label for="coin-input" class="form-label">Add cryptocurrency</label>
                            <input th:field="*{name}" class="form-control form-control-sm" type="text" placeholder="COIN SYMBOL" aria-label=".form-control-sm example" id="coin-input">
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">lorem ipsum</p>
                            <p th:errors="${coin}"></p>
                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                        </form>
                    </div>
                    <div>
                        <h5>Your COINS:</h5>
                        <p th:if="${userCoinsPrices.isEmpty()}">You coin list is empty. Add them!</p>
                        <ul class="coin-list" th:if="${!userCoinsPrices.isEmpty()}">
                            <div th:each="userCoinPrice : ${userCoinsPrices}">
                                <li th:text="|${userCoinPrice.getKey()}: ${#numbers.formatDecimal(userCoinPrice.getValue(), 1, 5)}$|">
                                </li>
                                <a th:href="@{/delete(coinName=${userCoinPrice.getKey()})}" class="nav-link">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>


                <h5>TOP COINS:</h5>
                <p th:if="${coinsPrices.isEmpty()}">Coin list is not available</p>
                <ul class="coin-list" th:if="${!coinsPrices.isEmpty()}">
                    <li th:each="coinPrice : ${coinsPrices}" th:text="|${coinPrice.getKey()}: ${#numbers.formatDecimal(coinPrice.getValue(), 1, 5)}$|">BTC: 123</li>
                </ul>
                <p th:if="${coinsPrices.isEmpty()}">Coin list is not available</p>
            </div>
            <div class="grid-item">
                <section>
                    <h3 class="message" sec:authorize="hasRole('ROLE_BLOCKED_USER')">You are blocked. Your account is restricted</h3>
                    <h4 sec:authorize="!hasRole('ROLE_BLOCKED_USER')">
                        <a sec:authorize="isAuthenticated()" th:href="@{/post/add}">Add post</a>
                    </h4>
                    <div th:if="${posts.isEmpty()}">
                        <p>There is no content. Sign up and write something.</p>
                    </div>
                    <div th:each="post : ${posts}">
                        <div class="post-info">
                            <a th:href="@{/profile(username=${post.author})}">
                                <p th:text="${post.author}">Username</p>
                            </a>
                            <p th:text="${#dates.format(post.timeAdded, 'dd-MM-yyyy HH:mm')}"></p>
                        </div>
                        <a th:text="${post.title}"></a>
                        <p th:utext="${post.content}"></p>
                        <div class="post-interact">
                            <a th:href="@{/post/{id}(id = ${post.id})}">View details</a>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/post/{id}/delete(id = ${post.id})}">Delete</a>
                        </div>
                        <hr>
                    </div>
                    <div class="page-navigation">
                        <a th:if="${current_page > 0}" th:href="@{/previous_page}">Previous Page</a>
                        <a th:unless="${isLast}" th:href="@{/next_page}">Next Page</a>
                    </div>
                </section>
            </div>
            <div class="grid-item">
            </div>
        </div>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>