<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head">
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<header th:replace="fragments :: header"></header>
	<section class="content">
		<div>
			<h1>Login Page</h1>
			<div th:if="${param.error}">
				Invalid login or password
			</div>
			<form method="post" th:action="@{/login}">
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Username</label>
					<input name="username" type="text" class="form-control" id="exampleInputEmail1">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input name="password" type="password" class="form-control" id="exampleInputPassword1">
				</div>
				<div>
					<button class="btn btn-primary" type="submit">Sign in</button>
				</div>

			</form>
		</div>
	</section>

</body>
</html>