<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <div class="container">
        <h1>Login Page</h1>
        <form method="post" action="/login">
            <input name="username" placeholder="username">
            <input name="password" placeholder="password" type="password">
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>