<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Post Page</title>
</head>
<body>
    <navbar th:replace="fragments :: header"></navbar>
        <section class="content">
            <div class="post-info">
                <a th:href="@{/profile(username=${post.author})}">
                    <p th:text="${post.author}"></p>
                </a>
                <p th:text="${#dates.format(post.timeAdded, 'dd-MM-yyyy HH:mm')}"></p>
            </div>
            <a th:text="${post.title}"></a>
            <p th:text="${post.content}"></p>
            <hr>
            <div class="comments">
                <h3>Comments</h3>
            </div>
        </section>
</body>
</html>