<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Post Page</title>
</head>
<body>
    <navbar th:replace="fragments :: header"></navbar>
        <section class="content">
            <div class="post">
                <div class="post-info">
                    <a th:href="@{/profile(username=${post.author})}">
                        <p th:text="${post.author}"></p>
                    </a>
                    <p th:text="${#dates.format(post.timeAdded, 'dd-MM-yyyy HH:mm')}"></p>
                </div>
                <a th:text="${post.title}"></a>
                <p th:text="${post.content}"></p>
                <hr>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form method="post" th:action="@{/post/{postId}/saveComment(postId = ${post.id})}" th:object="${commentForm}">
                    <textarea th:field="*{content}" placeholder="add comment"></textarea>
                    <button type="submit">Add comment</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <h3>Log in to add comment!</h3>
            </div>
            <h3>Comments</h3>
            <div class="comments" th:each="comment : ${comments}">
                <div class="comment">
                    <p th:text="${comment.authorUsername}"></p>
                    <p th:text="${#dates.format(comment.timeAdded, 'dd-MM-yyyy HH:mm')}"></p>
                    <p th:text="${comment.content}"></p>
                </div>
            </div>
        </section>
</body>
</html>