<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <h3>Register</h3>
    <div>
        <form method="post" th:action="@{/register}" action="/register" th:object="${user}">
            <input th:field="*{email}" type="text" placeholder="example@email.com">
            <p th:errors="*{email}">email errors</p>
            <input th:field="*{username}" type="text" placeholder="username">
            <p th:errors="*{username}">username errors</p>
            <input th:field="*{password}" type="password" placeholder="password">
            <p th:errors="*{password}">password errors</p>
            <input th:field="*{passwordRepeat}" type="password" placeholder="repeat password">
            <p th:errors="*{global}"></p>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>