<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <section class="content">
        <h3>Register</h3>
        <div>
            <form method="post" th:action="@{/register}" action="/register" th:object="${user}">
                <div class="mb-3">
                    <p th:errors="*{email}">email errors</p>
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input th:field="*{email}" type="text" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="mb-3">
                    <p th:errors="*{username}">username errors</p>
                    <label  class="form-label">Username</label>
                    <input th:field="*{username}" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <p th:errors="*{password}">password errors</p>
                    <label class="form-label">Password</label>
                    <input th:field="*{password}"type="password" class="form-control">
                </div>
                <div class="mb-3">
                    <p th:errors="*{global}"></p>
                    <label class="form-label">Repeat password</label>
                    <input th:field="*{passwordRepeat}" type="password" class="form-control">
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </section>
    <footer th:replace="fragments :: footer"></footer>
</body>
</html>