body {
    margin: 0;
}

input {
    display: block;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-size: 1.5rem;
    padding-bottom: 5vh;
}

.content {
    width: 50%;
    margin: auto;
}

.add-post-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#title-input {
    height: 20px;
    resize: none;
}

#content-input {
    height: 300px;
    resize: none;
}

.post-info {
    display: flex;
}

.post-info a {
    padding-right: 10px;
}

.page-navigation{
    display: flex;
    justify-content: space-between;
}

.admin-content {
    display: flex;
    justify-content: space-around;
}

.table-container {
    padding: 10px;
}

.message{
    color: red;
}

.comments p {
    margin-bottom: 0.2rem;
}