body {
    margin: 0;
}

input {
    display: block;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid;
}

em {
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    font-size: 1.5rem;
    padding-bottom: 5vh;
}
/*------INDEX-------*/

.grid-con {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 1%;
}

.side-panel{
    padding-top: 10%;
    padding-left: 10%;
}

.coin-list {
    list-style-type: none;
    padding-top: 3%;
}

.add-coin-con form p {
    font-size: 0.7rem;
    color: red;
}

.add-coin-con {
    width: 45%;
    padding-bottom: 3%;
}

.add-coin-con form button {
    margin-top: 4%;
}

.content {
    width: 50%;
    margin: auto;
}

.icon {
    font-size: 1.2em;
    margin: 2px;
    cursor: pointer;
}

.fa-thumbs-up:hover {
    color: #27a644;
}

.fa-thumbs-down:hover{
    color: #dc3545;
}


/*---------Post-------------*/

.add-post-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}

#title-input {
    height: 20px;
    resize: none;
}

#content-input {
    height: 300px;
    resize: none;
}

.post-info {
    display: flex;
}

.post-info a {
    padding-right: 10px;
}

.page-navigation{
    display: flex;
    justify-content: space-between;
}

.admin-content {
    display: flex;
    justify-content: space-around;
}

.table-container {
    padding: 10px;
}

.message{
    color: red;
}

.comments p {
    margin-bottom: 0.2rem;
}

.profile-content {
    width: 90%;
    margin: auto;
}

.post-interact {
    display: flex;
}

.post-interact a {
    margin-left: 0.5em;
}

